/*
    @author: Tran Minh Dang(DangTM)
    @modify:     25/12/2015
*/
a,.tp-caption a.btn:hover {
	color: #eb5d1e;
}

.top-nav-collapse {
	background: #eb5d1e;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #eb5d1e;
}

.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span
	{
	background-color: #eb5d1e;
}

.widget-avatar .avatar:hover {
	border: 5px solid #eb5d1e;
}

.bg-skin {
	background: #eb5d1e;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus
	{
	border-color: #eb5d1e;
}

footer {
	background-color: #eb5d1e;
}

.btn-skin {
	color: #fff;
	background-color: #eb5d1e;
	border-color: #eb5d1e;
}

.fa-menu {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	display: inline-block;
	width: 60px;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.service-box:hover {
	moz-box-shadow: 7px 17px 27px -13px rgba(0, 0, 0, 0.56);
	box-shadow: 7px 17px 27px -13px rgba(0, 0, 0, 0.56);
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #eb5d1e;
	padding: 10px;
}

.box {
	box-shadow: 0px 17px 27px -12px rgba(0, 0, 0, 0.56);
}

.list-group-item .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}

.col-xs-1x {
	width: 20%;
}

.col-xs-1x {
	float: left;
}

.col-xs-1x {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.smpl-step {
	margin-top: 40px;
}

.smpl-step {
	border-bottom: solid 1px #e0e0e0;
	padding: 0 0 10px 0;
}

.smpl-step>.smpl-step-step {
	padding: 0;
	position: relative;
}

.smpl-step>.smpl-step-step .smpl-step-num {
	font-size: 17px;
	margin-top: -20px;
	margin-left: 47px;
}

.smpl-step>.smpl-step-step .smpl-step-info {
	font-size: 14px;
	padding-top: 27px;
}

.smpl-step>.smpl-step-step>.smpl-step-icon {
	position: absolute;
	width: 70px;
	height: 70px;
	display: block;
	background: #eb5d1e;
	top: 45px;
	left: 50%;
	margin-top: -35px;
	margin-left: -15px;
	border-radius: 50%;
}

.smpl-step>.smpl-step-step>.progress {
	position: relative;
	border-radius: 0px;
	height: 8px;
	box-shadow: none;
	margin-top: 37px;
}

.smpl-step>.smpl-step-step>.progress>.progress-bar {
	width: 0px;
	box-shadow: none;
	background: #5CB85C;
}

.smpl-step>.smpl-step-step.complete>.progress>.progress-bar {
	width: 100%;
}

.smpl-step>.smpl-step-step.active>.progress>.progress-bar {
	width: 50%;
}

.smpl-step>.smpl-step-step:first-child.active>.progress>.progress-bar {
	width: 0%;
}

.smpl-step>.smpl-step-step:last-child.active>.progress>.progress-bar {
	width: 100%;
}

.smpl-step>.smpl-step-step.disabled>.smpl-step-icon {
	background-color: #999999;
}

.smpl-step>.smpl-step-step.disabled>.smpl-step-icon:after {
	opacity: 0;
}

.smpl-step>.smpl-step-step:first-child>.progress {
	left: 50%;
	width: 50%;
}

.smpl-step>.smpl-step-step:last-child>.progress {
	width: 50%;
}

.smpl-step>.smpl-step-step.disabled a.smpl-step-icon {
	pointer-events: none;
}

.process-item {
	font-size: 40px;
	padding-left: 0px;
	padding-top: 15px;
	color: #fff;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #999999;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: 0px;
	background-color: #fff;
	border: 0px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.box-content {
	height: 265px;
	overflow-y: auto;
	overflow-x: hidden;
}

.tableLayout {
	width: 100%;
}

.tableLayout td {
	padding: 5px
}

.modal-header {
	border-bottom: 1px solid #eee;
	padding: 10px;
	color: #555 !important;
	background-color: #f5f5f5 !important
}

.modal-body {
	padding: 10px;
}

.modal-footer {
	border-top: 1px solid #eee;
	padding: 10px;
}

.modal-title {
	text-align: center;
	color: #555 !important;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc !important;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	color: #555;
	font-size: 12px;
	height: 26px;
	line-height: 1.42857;
	padding: 3px 6px !important;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
}

input:focus:not ([type="button"] ),select:focus,textarea:hover {
	border-color: #66afe9 !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(102, 175, 233, 0.6) !important;
	outline: 0 none;
}

input,select::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.message-div,.message-action-div {
	background-color: rgb(0, 0, 0);
	border: medium none;
	border-radius: 4px;
	color: rgb(0, 0, 0);
	cursor: default;
	display: none;
	left: 400px;
	margin: 0;
	opacity: 0.7;
	padding: 5px;
	position: fixed;
	right: 10px;
	text-align: center;
	top: 200px;
	width: 400px;
	z-index: 999999;
	color: white;
}

a.first,a.last {
	display: none;
}

.textarea-control {
	width: 100%;
	height: 200px;
}

.input-time {
	border-radius: 4px 0 0 4px !important;
	width: 75px !important;
}

.input-date {
	border-radius: 4px 0 0 4px !important;
	width: 120px !important;
}

.input-text {
	border-radius: 4px !important;
	width: 100px !important;
}

textarea {
	resize: none;
}

#tbody-box tr:HOVER {
	background: #B7CEEC;
	cursor: pointer;
}

.highlighted {
	background: #C6E2FF !important;
}

.drag-video,.drag-image,.drag-browser,.drag-text, {
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 35px;
	color: #eb5d1e;
}

.drag-video-clone {
	background-color: #006666;
	background-image: url("../images/items/img-video.jpg");
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #000000;
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	width: 35px;
	z-index: 100 !important;
	line-height: 33px;
	width: 35px;
}

.drag-video-clone video{ 
	
    width: 100% !important;
    height: auto !important;
   	background-image: none;
   	background-repeat:initial;
   	background-color: transparent;
   	object-fit:  fill;
   	min-width: 100%; 
    min-height: 100%;
   	  
/*    	position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden; */
}


.drag-image-clone {
	background-color: #006666;
	background-image: url("../images/items/img-image.jpg");
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #000000;
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	width: 35px;
	z-index: 100 !important;
	line-height: 33px;
	width: 35px;
} 

.drag-image-upload {
	background-color: #006666;
	
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #000000;
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	width: 35px;
	z-index: 500 !important;
	line-height: 33px;
	width: 35px;
} 

.drag-browser-clone {
	background-color: #006666;
	background-image: url("../images/items/img-browser.jpg");
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #000000;
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	width: 35px;
	z-index: 100 !important;
	z-index: 100 !important;
	line-height: 33px;
	width: 35px;
}

/* .drag-text-clone {
	background-color: #006666;
	background-image: url("../images/items/img-text.jpg");
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #000000;
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	width: 35px;
	z-index: 100 !important;
} */

.drag-text-clone {
	background-color: transparent;	
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #000000;
	cursor: pointer;
	height: 40px;
	line-height: 33px;
	width: 35px;
	z-index: 100 !important;
}

.drag-text-clone textarea {
	width: 100% !important;
    height: auto !important;
   	background-image: none;
   	background-repeat:initial;
   	background-color: transparent;
   	object-fit:  fill;
   	min-width: 100%; 
    min-height: 100%;
    border: 0px solid #000000;
}

.drag-label-clone {
/* 	background-color: #006666; */
	background-image: url("../images/items/label.png");
	background-position: 50% 50%;
	background-size: cover;
/* 	border: 1px solid #000000; */
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	width: 50px;
	z-index: 100 !important;
}


.drag-file-clone {
	width: 100px;
	height: 20px;
/* 	opacity: 0; */
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.drag-label-clone-after {
/* 	background-color: #006666; */

	background-position: 50% 50%;
	background-size: cover;
/* 	border: 1px solid #000000; */
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	width: 50px;
	z-index: 100 !important;
}

.drag-video-clone,.drag-video-clone::after,.drag-video-clone::before {
	box-sizing: content-box;
}

.drag-image-clone,.drag-image-clone::after,.drag-image-clone::before {
	box-sizing: content-box;
}

.drag-text-clone,.drag-text-clone::after,.drag-text-clone::before {
	box-sizing: content-box;
}

.drag-browser-clone,.drag-browser-clone::after,.drag-browser-clone::before
	{
	box-sizing: content-box;
}

.drag-label-clone,.drag-label-clone::after,.drag-label-clone::before
	{
	box-sizing: content-box;
}

.layout-tivi {
/* 	background: url(../images/tv.png); */
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
	height: 200px;
	width: 100%;
}

.div-tivi {
	height: 100%;
	margin-left: 11px;
	margin-top: 6px;
	width: 100%;
}

.input-num {
	width: 50px;
	text-align: center;
	font-size: 12px !important;
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	border-radius: 4px !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	text-align: center;
}

a {
	cursor: pointer !important;
}

.dropdown-backdrop {
	display: none;
}

#content-layout-header {
	border: 1px solid #D3D3D3;
	height: 35px;
}

.divHeader {
	float: left;
	padding: 5px !important;
	text-align: center;
	font-weight: bold;
}

.col-container {
	float: left;
}

.row-cell {
	border-bottom: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
	font-size: 12px !important;
	height: 40px;
	float: left;
	text-align: center;
}

#content-layout-body {
	max-height: 350px;
	overflow: auto;
	margin-bottom: 15px;
	position: relative;
	border: 1px solid #D3D3D3;
}

.content-item-video {
	background-color: #15317E;
	opacity: 0.7;
	cursor: pointer;
	color: black !important;
}

.content-item-image {
	background-color: #808000;
	opacity: 0.7;
	cursor: pointer;
	color: black !important;
}

.content-item-browser {
	background-color: #00FF00;
	opacity: 0.7;
	cursor: pointer;
	color: black !important;
}

.content-item-text {
	background-color: #2196f3;
	opacity: 0.7;
	cursor: pointer;
	color: black !important;
}

.thumbnail {
	cursor: pointer;
}

.content-item-selected {
	border: 1px solid red;
	z-index: 1000 !important;
	color: white !important;
}
 
.col-item,.col-item::after,.col-item::before
	{
	box-sizing: content-box;
}

.content-item,.content-item::after,.content-item::before
	{
	box-sizing: content-box;
}

.content-item-selected,.content-item-selected::after,.content-item-selected::before
	{
	box-sizing: border-box !important;
}

.div-content-player,.div-content-player::after,.div-content-player::before
	{
	box-sizing: content-box;
}

.div-content-player {
	background-position: 50% 50%;
	background-size: cover;
	cursor: pointer;
	z-index: 100 !important;
	border: 1px solid #000000;
	overflow: auto;
}

.color-icon-drag {
	color: #666666;
}

.audio-player {
	width: 100%; 
	min-height: 40px
}

.video-player {
	width: 100%; 
	min-height: 150px
}

.media-player {
	overflow: auto; 
	width: 100%; 
	height: auto
}

#ajax-loading {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 10000000;
	text-align: center;
	display: none;
	vertical-align: middle;
}

.img-loading {
	width: 73px;
	height: 73px;
	border-radius: 73px;
	background-color: #4d4d4d;
	vertical-align: middle;
	position: absolute;
 	top: 45%;
}


.progress-style {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1px;
    position: relative;
    width: 100%;
    background-color: white;
    height: 24px;
}

.progress-bar {
    background-color: #00CC00;
    border-radius: 3px;
    height: 20px;
    width: 0;
}

.progress-percent {
    display: inline-block;
    left: 48%;
    position: absolute;
    top: 2px;
}
.site-footer {
    border-top: 1px solid #cccccc;
    margin-top: 2em;
    background-color: #ffffff;
}

.border-wrap{
	border: 1px solid #000000;
}